.traningIcon {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.training {
  position: relative;
  font-weight: 500;
  display: inline-block;
  max-width: 117.02999877929688px;
}
.property1hover {
  width: 100%;
  border-radius: var(--br-5xs);
  background-color: var(--dark);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-13xl) var(--padding-3xs)
    var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  min-width: var(--number-21);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--primary);
  font-family: var(--font-sf-pro-display);
}
